# Environment variables for Docker-packaged Novabrowse.

# Set your NCBI Entrez email here.
ENTREZ_EMAIL_ENV=my.name@example.edu

# Enable or disable caching of Entrez data.
# Caching is enabled by default, set to false to disable.
#ENTREZ_USE_CACHE=true

# Size limit for cache, in megabytes.
# Default is 500 MB.
#ENTREZ_CACHE_SIZE_MB=500
