# Environment variables for Docker-packaged Novabrowse.

# Set your NCBI Entrez email here.
ENTREZ_EMAIL_ENV=my.name@example.edu

# Enable or disable caching of Entrez data.
# Caching is enabled by default, set to false to disable.
#ENTREZ_USE_CACHE=true

# Set the number of days to cache Entrez data.
# The default is 3.
#ENTREZ_CACHE_EXPIRY_DAYS=3
