# Environment variables for Docker-packaged Novabrowse.

# Set your NCBI Entrez email here.
ENTREZ_EMAIL_ENV=my.name@example.edu

# Set the number of days to cache Entrez data.
# The default is 3.
#ENTREZ_CACHE_EXPIRY_DAYS=3
